<footer>
  <div class="name-plate">
    <h3>Tony M</h3>
  </div>
  <div class="name-description">
    <p class="tag">Portland, Oregon</p>
    <h3 class="contact-links tag">
      <a href="mailto:tony@fbpllc.com">
        <span class="fas fa-envelope"></span>
      </a>
    </h3>
    <h3 class="tag">Folio'20</h3>
  </div>
</footer>
