<footer>
  <div class="name-plate">
    <h3 class="hidden-mobile tag">Tony M</h3>
    <p class="hidden-desktop">Tony M</p>
  </div>
  <div class="name-description">
    <p class="tag hidden-mobile">Portland, Oregon</p>
    <h3 class="contact-links tag">
      <a href="mailto:tony@fbpllc.com">
        <span class="fas fa-envelope"></span>
      </a>
    </h3>
    <h3 class="tag hidden-mobile">Portfolio 2020</h3>
  </div>
</footer>
