<footer>
  <div class="name-plate">
    <h3>Tony M</h3>
  </div>
  <div class="name-description">
    <p>Artist, developer, creative unicorn</p>
    <p>Portland, Oregon</p>
    <h3 class="contact-links">
      <a href="mailto:tony@fbpllc.com">
        <span class="fas fa-envelope"></span>
      </a>
    </h3>
    <h3>folio'20</h3>
  </div>
</footer>
