<a href="/about" class="main-nav" alt="About">About</a>
<a href="/bread-and-roses" class="main-nav" alt="Acknowledgement">Bread and Roses</a>
<a href="/pop-art-pinup" class="main-nav" alt="Pop Art Pinup">Pop Art Pinup</a>
<a href="/mouse-and-moon" class="main-nav" alt="Mouse and Moon Creations">Mouse and Moon Creations</a>
<a href="/the-portland-pour" class="main-nav" alt="The Portland Pour">The Portland Pour</a>
<a href="/other-stuff" class="main-nav" alt="Loose Ends">Other Stuff</a>
