<a href="/about" class="main-nav" alt="About">About</a>
<a href="/acknowledgement" class="main-nav" alt="Acknowledgement">Acknowledgement</a>
<a href="/pop-art-pinup" class="main-nav" alt="Pop Art Pinup">Pop Art Pinup</a>
<a href="/mouse-and-moon" class="main-nav" alt="Mouse and Moon Creations">Mouse and Moon Creations</a>
<a href="/the-portland-pour" class="main-nav" alt="The Portland Pour">The Portland Pour</a>
<a href="/loose-ends" class="main-nav" alt="Loose Ends">Loose Ends</a>
