
<h1 class="text-center">Projects</h1>
<div class="projects">
{% for project in projects %}
  <a class="project" href="/project/{{project.slug.current}}">
    <div class="image-container">
      <img src="{{project.mainImage.asset.url}}?h=140&w=140&fit=crop" alt="{{project.title}} image">
    </div>
    <div class="summary">
      <div class="title">
        <h3>
          {{project.title}}
          {% for category in project.projectCategory %}
            <span class="chip {% if category === 'coding' %} blue {% else %} red {% endif %}">{{category}}</span>
          {% endfor %}
        </h3>
      </div>
      <div class="summary-container">
        {{project.summary | markdownify | safe }}
      </div>
    </div>
  </a>
{% endfor %}
</div>
