
<h1 class="text-center">Projects</h1>
<p>
  Some examples of projects I've led or worked on. Some are creative projects, some are coding projects, some are a little of both.
</p>
<div class="projects">
{% for project in projects %}
  <a class="project" href="/project/{{project.slug.current}}">
    <div class="summary">
      <div class="title">
        <h3>
          {{project.title}}
          {% for category in project.projectCategory %}
            <span class="chip {% if category === 'coding' %} blue {% else %} red {% endif %}">{{category}}</span>
          {% endfor %}
        </h3>
      </div>
      <div class="summary-container">
        {{project.summary | markdownify | safe }}
      </div>
    </div>
  </a>
{% endfor %}
</div>
