---
className: purple
---

<div class="item centered">
  <div>
    <h1>The Portland Pour</h1>
    <p>
      So I'm sitting around the studio one Saturday afternoon, and an artist, who is also a bartender, says to me, "I'll pour drinks if you want to photograph them."
      That conversation became a flagship project for beverage photography and content services.
      As a blog, the photos compliment the stories of cocktail history and cultural context.
      The history of beverages, not just cocktails, is as closely tied to cultural and social history as food.
      These are a few selections that stand out.
      Cheers to my beverage clients and collaborators who were all part of this curious project!
    </p>
  </div>
</div>
