---
className: yellow
---

<div class="item centered">
  <div>
    <h1>Mouse and Moon Creations</h1>
    <p>
      Mouse and Moon began as a book project, steampunk fairy tales, but soon became an operating studio, offering creative services to commercial clients.
      The original Mouse and Moon pictures were made over a 3 year period, and shown at various galleries and conventions around Portland.
      These are a few samples, and while we quickly abandoned the steampunk aesthetic in favor of our own, the pictures are still the complex pieces full of self made stuff.
      For the most part, the sets, props, costumes and jewelry were made either in house or by local artisans.
      This was one of my most ambitious projects, and I'm proud of the work I put into it.
    </p>
  </div>
</div>
