<a href="/about" class="main-nav">About me</a>
<a href="/projects" class="main-nav">My work</a>
<a href="/work-with-me" class="main-nav">Services</a>
<a href="/assets/static/tm.resume.2022.pdf" class="main-nav">My resume</a>
<a href="/blog" class="main-nav">Blog</a>
