Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/Users/tonym/Documents/Github/tonympdx  /web/webpack.html' in '/Users/tonym/Documents/Github/tonympdx/web':
  Error: Can't resolve '/Users/tonym/Documents/Github/tonympdx/web/webpack.html'   in '/Users/tonym/Documents/Github/tonympdx/web'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/tonym/Docu  ments/Github/tonympdx/web/webpack.html' in '/Users/tonym/Documents/Github/tony  mpdx/web'
  
  - Compilation.js:2016 
    [web]/[webpack]/lib/Compilation.js:2016:28
  
  - NormalModuleFactory.js:798 
    [web]/[webpack]/lib/NormalModuleFactory.js:798:13
  
  
  - NormalModuleFactory.js:270 
    [web]/[webpack]/lib/NormalModuleFactory.js:270:22
  
  
  - NormalModuleFactory.js:434 
    [web]/[webpack]/lib/NormalModuleFactory.js:434:22
  
  - NormalModuleFactory.js:120 
    [web]/[webpack]/lib/NormalModuleFactory.js:120:11
  
  - NormalModuleFactory.js:670 
    [web]/[webpack]/lib/NormalModuleFactory.js:670:25
  
  - NormalModuleFactory.js:855 
    [web]/[webpack]/lib/NormalModuleFactory.js:855:8
  
  - NormalModuleFactory.js:975 
    [web]/[webpack]/lib/NormalModuleFactory.js:975:5
  
  - child-compiler.js:131 
    [web]/[html-webpack-plugin]/lib/child-compiler.js:131:18
  
  - Compiler.js:551 finalCallback
    [web]/[webpack]/lib/Compiler.js:551:5
  
  - Compiler.js:577 
    [web]/[webpack]/lib/Compiler.js:577:11
  
  - Compiler.js:1196 
    [web]/[webpack]/lib/Compiler.js:1196:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [web]/[webpack]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1192 
    [web]/[webpack]/lib/Compiler.js:1192:33
  
  - Compilation.js:2787 finalCallback
    [web]/[webpack]/lib/Compilation.js:2787:11
  
  - Compilation.js:3092 
    [web]/[webpack]/lib/Compilation.js:3092:11
  
  
</pre>