---
className: orange
---

<div class="item centered">
  <div>
    <h1>Other stuff</h1>
    <p>
      Randomly selected odds and ends from one off creations and personal projects.
    </p>
  </div>
</div>
