---
pagination:
  alias: posts
  data: posts
  size: 8
  addAllPagesToCollections: false
permalink: blog/posts/{{ pagination.pageNumber + 1 }}/index.html
---

<h1 class="text-center">Blog</h1>
<div class="posts">
{% for post in posts %}
  <a class="post" href="{{post.url}}">
    <img class="main-image" src="{{post.mainImage.asset.url}}" alt="{{post.title}} image">
    <div class="summary">
      <div class="title">
        <h3>
          {{post.title}}
        </h3>
      </div>
      <div class="byline body2">
        By {{post.authorName}} on
        <time class="postlist-date" datetime="{{ post.publishedAt }}">
          {{ post.publishedAt | readableDate }}
        </time>
        -
        {{ post.body | readingTime }} read
      </div>
      <div class="summary-container">
        {{post.summary | markdownify | safe }}
      </div>
    </div>
  </a>
{% endfor %}
</div>
{% include 'pagination.njk' %}
