---json
{
  "className": "pink",
  "pictures": [
    {
      "src": "archive__webshare_001-16.jpg"
    },
    {
      "src": "archive__webshare_001.jpg"
    },
    {
      "src": "archive__webshare_001-2.jpg"
    },
    {
      "src": "archive__webshare_001-4.jpg"
    },
    {
      "src": "archive__webshare_001-6.jpg"
    },
    {
      "src": "archive__webshare_001-7.jpg"
    },
    {
      "src": "archive__webshare_001-8.jpg"
    },
    {
      "src": "archive__webshare_001-9.jpg"
    },
    {
      "src": "archive__webshare_001-10.jpg"
    },
    {
      "src": "archive__webshare_001-12.jpg"
    }
  ]
}
---

<div class="item centered">
  <div>
    <h1>Pop Art Pinup</h1>
    <p>
      For several years I published an annual calendar featuring classic pinup pictures.
      It all began when I took on the job of catalog photography for a pinup clothing designer in Portland.
      My studio was in her warehouse, which gave us access to some of the finest new and vintage fashions available.
      Pop Art Pinup became a lifestyle brand, and later grew into Mouse and Moon Creations, which saw me return to fairy tale themed stories and pictures on a much larger scale than a calendar.
      For a time, however, it was all very mid-century modern with a wink to contemporary style.
    </p>
  </div>
</div>

{% for picture in pictures %}
<div class="item">
  <img src="/assets/images/pop-art-pinup/{{ picture.src }}" alt="pop art pinup"/>
</div>
{% endfor %}
