---
layout: main.njk
templateClass: tmpl-post
---
<h1 class="text-center">{{ post.title }}</h1>
<div class="project-detail">
  <p>
    <img class="banner" src="{{post.mainImage.asset.url}}" alt="{{post.title}} image">
  </p>
  <div class="dateline">
    <img src="{{post.authorAvatar}}" alt="author {{post.authorName}} avatar">
    <div>
      <p class="author">{{post.authorName}}</p>
      <p class="date body2">
        <time class="postlist-date" datetime="{{ post.publishedAt }}">
          {{ post.publishedAt | readableDate }}
        </time>
        -
        {{ post.body | readingTime }} read
      </p>
    </div>
  </div>
  {{ post.body | markdownify | safe }}
</div>
{% if post.gallery %}
<div class="project-gallery">
  <h1 class="text-center">Gallery</h1>
  {% for image in post.gallery %}
    <div class="item">
      <img src="{{image.asset.url}}" alt="gallery image">
      {% if image.imageTitle %}
        <p>{{image.imageTitle}}</p>
      {% endif %}
      {% if image.imageSubTitle %}
        <p class="body2">{{image.imageSubTitle}}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}
