---
layout: main.njk
templateClass: tmpl-project
---
<h1 class="text-center">{{ project.title }}</h1>
<div class="project-detail">
  <p>
    <img class="main-image" src="{{project.mainImage.asset.url}}" alt="{{project.title}} image">
  </p>
  {{ project.body | markdownify | safe }}
</div>
{% if project.gallery %}
<div class="project-gallery">
  <h1 class="text-center">Gallery</h1>
  {% for image in project.gallery %}
    <div class="item">
      <img src="{{image.asset.url}}" alt="gallery image">
      {% if image.imageTitle %}
        <p>{{image.imageTitle}}</p>
      {% endif %}
      {% if image.imageSubTitle %}
        <p class="body2">{{image.imageSubTitle}}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}
