---
className: green
---

<div class="item centered">
  <div>
    <h1>About</h1>
    <img src="/assets/images/suit.jpg" alt="Tony M in a suit" />
    <p>
      I'm Tony M. I'm an artist living and working in Portland, Oregon. I also
      design and build websites and user interfaces. I began by studying
      creative writing at Boise State University, built my first website in 1997
      as a way to share my stories and pictures, and have been creating both
      websites and content ever since. Everything here is a confluence of
      creative energy and digital knowledge.
    </p>
    <h3>Artist's statment</h3>
    <p>
      Capturing light is the beginning, not the end. A picture might start as a
      photo, but the result is a series of choices on the path to the final
      product. My medium is digital, manipulative, and obvious, but I know what
      every picture will look like before I reach for the camera or computer. My
      subjects range from fairy tales to cultural comment, all with a positive,
      whimsical approach. Even the serious stuff should make you smile, just a
      little.
    </p>
  </div>
</div>
