.button {
  background-color: #c0c7c9;
  border-radius: 8px;
  color: #1b3b46;
  display: inline-block;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
  &:hover {
    background-color: #f2f2f2;
    color: #1b3b46;
    text-decoration: none;
  }
  &.disabled {
    opacity: 0.5;
  }
  &.lg {
    font-size: 1.5rem;
    padding: 12px 20px;
  }
  &.outlined {
    background-color: transparent;
    border: 1px solid #c0c7c9;
    color: #c0c7c9;
  }
}
