#fader {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  background: #f7f2e7;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  &.fade-out {
    opacity: 0;
    animation-name: fade-out;
  }
  &.fade-in {
    opacity: 1;
    animation-name: fade-in;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
