.project-detail {
  img {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
.project-gallery {
  margin-top: 76px;
  h1 {
    padding-bottom: 24px;
  }
  p {
    text-align: center;
  }
}
