---json
{
  "className": "grayscale",
  "pictures": [
    {
      "id": "1",
      "title": "A gift with consequences.",
      "subtitle": "You don't see me"
    },
    {
      "id": "2",
      "title": "You never did the Kenosha kid.",
      "subtitle": "A poor choice of orange"
    },
    {
      "id": "3",
      "title": "What are words for?",
      "subtitle": "Listen carefully"
    },
    {
      "id": "4",
      "title": "Migraine",
      "subtitle": "weeks and weeks"
    },
    {
      "id": "5",
      "title": "Tulips"
    },
    {
      "id": "6",
      "title": "The Empress of Ice Cream."
    },
    {
      "id": "7",
      "title": "Bread and roses"
    },
    {
      "id": "11",
      "title": "Rose and a bird",
      "subtitle": "made of paper"
    },
    {
      "id": "13",
      "title": "Fear of giving",
      "subtitle": "anticipating consequences"
    },
    {
      "id": "32",
      "title": "Dissociation"
    },
    {
      "id": "15",
      "title": "Mirror, mirror",
      "subtitle": "what do you see?"
    },
    {
      "id": "16",
      "title": "Poster children",
      "subtitle": "our privilege"
    },
    {
      "id": "17",
      "title": "Head in a box"
    },
    {
      "id": "19",
      "title": "Fear, uncertainty and doubt",
      "subtitle": "all that's fit to print"
    },
    {
      "id": "21",
      "title": "Everybody wants something"
    },
    {
      "id": "22",
      "title": "What makes a man start fires?"
    },
    {
      "id": "27",
      "title": "When a bird builds a nest on the top of your head."
    },
    {
      "id": "28",
      "title": "Don't look back in anger."
    }
  ]
}
---
<div class="item centered">
  <div>
    <h1>&#128600; Bread and Roses &#128602;</h1>
    <p>
      In 2017 I created a series of pictures about acknowledgement and empathy, and how the world looks and feels through the eyes of someone with borderline personality disorder.
      Each picture is a little story about a different normal, some happy, some real, and some just for fun.
      These are some of my favorites.
      Find in them what you will.
    </p>
    <h2 class="pulsate">&#8675;</h2>
  </div>
</div>
{% for picture in pictures %}
<div class="item">
  <img src="/assets/images/bread-and-roses/bread-and-roses-{{ picture.id }}.jpg" alt="{{ picture.title }}"/>
  <p>{{ picture.title }}</p>
  {% if picture.subtitle %}
    <p class="body2">({{ picture.subtitle }})</p>
  {% endif %}
</div>
{% endfor %}
