---
className: grayscale
---

<div class="item">
  <img src="../assets/images/bread-and-roses/a-gift-with-consequences.jpg" alt="a gift with consequences"/>
  <p>A gift with consequences</p>
  <p class="body2">(You don't see me)</p>
</div>
