
<div class="hero">
  <img class="avatar" src="{{author.avatar.asset.url}}" alt="avatar">
  <h1>{{author.name}}</h1>
  <h2>
    <span class="creator">Creator</span>
    <span class="fas fa-exchange-alt"></span>
    <span class="coder">&lt;coder&gt;</span>
  </h2>
  <p>
    I'm a creative minded frontend developer/design engineer, and a development minded artist/writer/creative director specializing in design systems, frontend architecture, commercial and fine art creations, and faerie tales.
  </p>
</div>
