<h3 class="hero-text hidden-desktop">Portfolio</h3>
<h3 class="hero-text hero-text-small hidden-desktop">2020</h3>
<p class="caption">A small collection of</p>
<h1 class="home-heading hidden-mobile">Whimsy and Wonder</h1>
<p class="caption">Selections from recent creative endeavors</p>
<img
  class="hero-img"
  src="/assets/images/mouse-and-moon/mouse-and-moon-23.jpg"
  alt="hero image"
/>
