<h1 class="scroll-text scroll-normal-start">Welcome</h1>
<h1 class="scroll-text scroll-normal">Welcome</h1>
<h1 class="scroll-text scroll-normal scroll-normal-next">Welcome</h1>
<p class="marquee-text scroll-normal-start">creative portfolio 2020</p>
<p class="marquee-text scroll-normal">creative portfolio 2020</p>
<p class="marquee-text scroll-normal scroll-normal-next">creative portfolio 2020</p>
<p class="marquee-text marquee-text-top scroll-normal-start">art - design - development - stories</p>
<p class="marquee-text marquee-text-top scroll-normal">art - design - development - stories</p>
<p class="marquee-text marquee-text-top scroll-normal scroll-normal-next">art - design - development - stories</p>
<h3 class="hero-text hero-text-small hidden-mobile">Stories, pictures and</h3>
<h3 class="hero-text hidden-mobile">other things</h3>
<h3 class="hero-text hidden-desktop">Portfolio</h3>
<h3 class="hero-text hero-text-small hidden-desktop">2020</h3>
<img class="hero-img hidden-mobile" src="/assets/images/bread-and-roses/bread-and-roses-27.jpg" alt="hero image"/>
<img class="hero-img hidden-desktop" src="/assets/images/rose.jpg" alt="hero image"/>
