<h1 class="scroll-text scroll-normal-start">Welcome</h1>
<h1 class="scroll-text scroll-normal">Welcome</h1>
<h1 class="scroll-text scroll-normal scroll-normal-next">Welcome</h1>
<p class="marquee-text scroll-normal-start">creative portfolio 2020</p>
<p class="marquee-text scroll-normal">creative portfolio 2020</p>
<p class="marquee-text scroll-normal scroll-normal-next">creative portfolio 2020</p>
<p class="marquee-text marquee-text-top scroll-normal-start">Pencil marks, and paper trails</p>
<p class="marquee-text marquee-text-top scroll-normal">Pencil marks, and paper trails</p>
<p class="marquee-text marquee-text-top scroll-normal scroll-normal-next">Pencil marks, and paper trails</p>
<h3 class="hero-text hidden-desktop">Portfolio</h3>
<h3 class="hero-text hero-text-small hidden-desktop">2020</h3>
<img class="hero-img" src="/assets/images/rose.jpg" alt="hero image"/>
