.content {
  position: relative;
  text-align: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0 40px;
  width: 100%;
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    div {
      @media (min-width: 1024px) {
        width: 50vw;
      }
    }
  }
  .item {
    height: 100vh;
    line-height: 140%;
    img {
      border: 4px solid #fff;
      height: 56vh;
      max-height: 800px;
      max-width: 640px;
      @media (min-width: 1024px) {
        border: 8px solid #fff;
        height: 66vh;
      }
    }
  }
  .item-spacer {
    height: 22vh;
  }
}
