footer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.8;
  padding: 0 40px;
  width: 100%;
  @media (min-width: 1024px) {
    align-items: flex-end;
    flex-direction: row;
  }
  .contact-links {
    & a {
      display: inline-block;
      opacity: 0.5;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .name-description {
    align-items: center;
    display: flex;
    flex: 1 0;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 1024px) {
      justify-content: flex-end;
      width: auto;
    }
    .tag {
      margin-top: 0;
      &:not(:first-child) {
        padding-left: 0;
        @media (min-width: 1024px) {
          padding-left: 24px;
        }
      }
      @media (min-width: 1024px) {
        margin: 14px 0;
      }
    }
  }
  .name-plate {
    h3, p {
      @media (max-width: 1024px) {
        margin-bottom: 0;
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 0.875rem;
  }
}
