footer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding: 0 40px;
  width: 100%;
  .name-description {
    align-items: center;
    display: flex;
    flex: 1 0;
    justify-content: flex-end;
    p,
    h3 {
      padding-left: 24px;
    }
  }
  .name-plate {
    text-align: center;
    h3 {
      margin-top: 8px;
    }
  }
  p {
    font-size: 0.875rem;
  }
}
