.grayscale {
  background-color: #ddd;
  .content {
    position: relative;
    text-align: center;
    min-height: 100vh;
    padding-top: 16vh;
    width: 100%;
    .item {
      height: 82vh;
      img {
        border: 16px solid #fff;
        height: 66vh;
      }
      p {
        line-height: 100%;
      }
    }
    .item-spacer {
      height: 22vh;
    }
  }
  .nav-container {
    background-color: #ddd;
  }
}
