.green {
  background-color: #174537;
  color: #b5c9c3;
  .content {
    padding: 80px 40px;
    @media (min-width: 1024px) {
      padding: 100px 40px;
    }
    .item {
      height: auto;
      .brands {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        img {
          border: none;
          height: auto;
          margin: 8px;
          width: auto;
        }
      }
    }
  }
  .nav-container {
    background-color: #174537;
  }
  .links-panel {
    background-color: #b5c9c3;
    color: #174537;
  }
}
