.main {
  background-color: #fff1d9;
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    min-height: 100vh;
    width: 100%;
  }
  .nav-container {
    background-color: #fff1d9;
  }
  .contact-links {
    padding-top: 4px;
    & a {
      display: inline-block;
      opacity: 0.5;
      padding: 0 12px;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
