.main {
  background-color: rgb(27, 59, 70);
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0;
    position: relative;
    text-align: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    @media (min-width: 1024px) {
      min-height: 100vh;
    }
  }
  footer {
    bottom: 0;
    position: fixed;
  }
  .hero-wrapper {
    position: relative;
    .hero {
      font-size: 14vw;
      line-height: 4vw;
      text-align: left;
      width: 100%;
    }
    .hero-img {
      border: 2px solid #c0c7c9;
      position: absolute;
      right: 6vw;
      top: 0;
      width: 14vw;
      z-index: -1;
    }
  }
  .nav-container {
    background-color: rgb(27, 59, 70);
  }
}
