.main {
  background-color: rgba(27, 59, 70, 1);
  .contact-links {
    & a {
      display: inline-block;
      opacity: 0.5;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0;
    position: relative;
    text-align: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    @media (min-width: 1024px) {
      min-height: 100vh;
    }
  }
  footer {
    bottom: 0;
    position: fixed;
  }
  .hero {
    font-size: 14vw;
    line-height: 4vw;
    text-align: left;
    width: 100%;
  }
  .nav-container {
    background-color: rgba(27, 59, 70, 1);
  }
}
