.nav-container {
  height: 70px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200;
}
.navigation {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  height: 100%;
  padding: 0 40px;
  justify-content: space-evenly;
  width: 100%;
  .links {
    display: none;
    .main-nav {
      padding: 8px 16px;
      &::after {
        content: '';
        background: #fefefe;
        border-radius: 4px;
        height: 0;
        left: 0px;
        opacity: 0.3;
        position: absolute;
        top: 0px;
        transition: all 0.3s;
        width: 0;
        z-index: -300;
      }
      &:hover::after {
        height: 100%;
        width: 100%;
        z-index: -300;
      }
    }
    @media (min-width: 1024px) {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
  .links-menu {
    .menu-control {
      cursor: pointer;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .main-nav {
    display: block;
    opacity: 0.75;
    position: relative;
    &:hover {
      opacity: 1;
    }
  }
}
