.nav-container {
  height: 70px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200;
}
.navigation {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  height: 100%;
  padding: 0 40px;
  justify-content: space-between;
  width: 100%;
  .links {
    display: none;
    .main-nav {
      font-size: 0.875rem;
      opacity: 0.7;
      padding: 8px 16px;
      &::after {
        content: '';
        background: #fefefe;
        border-radius: 4px;
        height: 0;
        left: 0px;
        opacity: 0.3;
        position: absolute;
        top: 0px;
        transition: all 0.3s;
        width: 0;
        z-index: -300;
      }
      &:hover::after {
        height: 100%;
        width: 100%;
        z-index: -300;
      }
    }
    @media (min-width: 1024px) {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
  .links-menu {
    font-size: 2rem;
    text-align: right;
    .links-panel {
      animation-duration: 300ms;
      animation-timing-function: ease;
      background: #f7f2e7;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      flex-direction: column;
      left: 0;
      margin-top: 16px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 5000;
      transition: all 0.3s;
      &.show-out {
        display: none;
        animation-name: fade-out;
      }
      &.show-in {
        display: flex;
        animation-name: fade-in;
      }
      .main-nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1rem;
        font-weight: 600;
        opacity: 1;
        padding: 24px 16px;
      }
    }
    .menu-control {
      cursor: pointer;
      opacity: 0.7;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .main-nav {
    display: block;
    font-size: 2rem;
    opacity: 0.7;
    position: relative;
    &:hover {
      opacity: 1;
    }
    @media (min-width: 1024px) {
      font-size: 1.25rem;
      opacity: 0.5;
    }
  }
}
@keyframes show-out {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}

@keyframes show-in {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
